/* common share style */
body{
    font-family: 'Open Sans', sans-serif;
}
.primarycolor{
    color: #FD6E0A;
}
.primarybutton{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF; 
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
#primarybutton{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF; 
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.primarybutton--2{
    border-radius: 5px;
    border: 2px solid #FD6E0A ;
    color: #FD6E0A; 
    background-color: #FFF8F3;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.sec-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

/* Nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px 0 200px;
}
.title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Header releted style */

.header{
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner{
    padding: 0px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profileimg{
    width: 500px;
}
.b-1{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
    padding-top: 0px;
}
.b-head{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0px;
}
.prgh{
   margin-bottom: 30px;
}
.banner-contant{
    max-width: 500px;
    margin-left: 50px;
}
.margin{
    margin-right: 20px;
}

/* main section stylee */
main{
    max-width: 1140px;
    margin: 0 auto;
}


/* about section---------- */

.about{
    padding: 100px 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}
.about-prgh{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info > p{
    text-align: center;
    color: #757575;
    line-height: 30px;
}
.bold{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    color: #474747;
}
/* working section */
.work-prgh{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    width: 900px;
    margin: 0 auto;
}
.work{
    margin-bottom: 50px;
}

/* -----------card design------------ */
.main-card{
    width: 267px;
    height: 320px;
    /* margin: 0px 60px 30px 30px; */
    background-color: white;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}
.contant{
    padding: 0px 40px 0px 40px;
}
.logos{
    margin-left: 40px;
}
.card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
/* --------------summary---------- */

.re-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.remuse-container{
    display: flex;
    gap: 50px;
}
.info-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.title-info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.item-des{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.button--2{
    text-align: center;
    margin: 40px 0px 70px 0px;
}

/* -----------footerrrrrr---------- */
footer{
    background-color: #FFF8F3;
    display: flex;
    padding: 130px 100px 130px 200px;
    /* gap: 200px; */
}
/* .basic-info .contract{
    width: 50%;
} */
.footer-colum{
    width: 50%;
}
.sec-titlee{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0px;
    width: 70%;
}
.social-link a{
    margin-right: 30px;
    margin-top: 15px;
}
.margin-left{
    /* margin-left: 200px; */
    padding-left: 200px;
}

